VITE_GOOGLE_CLIENT_ID=192116891249-ep7mleva1ubuvqmbulgdfq0h563vdbt8.apps.googleusercontent.com
VITE_API_URL=https://chat-backend-m43q.onrender.com
VITE_SUPABASE_URL=
VITE_SUPABASE_PUBLISHABLE_KEY=
SUPABASE_URL=https://gmxwlovnujgnhajvbjir.supabase.co
SUPABASE_SECRET_KEY=
SUPABASE_PUBLISHABLE_KEY=sb_publishable_Omvdea0eLM1eHUbOnMWWYQ_c7yZ471S
